/* line 7, /proj/sites/rails/sites/qwert/app/assets/stylesheets/admin.css.scss */
.panel.login {
  margin-top: 3rem;
  text-align: center;
}

/* line 13, /proj/sites/rails/sites/qwert/app/assets/stylesheets/admin.css.scss */
form#login label {
  display: inline-block;
  width: 5rem;
  margin-bottom: 0.625rem;
}

/* line 20, /proj/sites/rails/sites/qwert/app/assets/stylesheets/admin.css.scss */
.panel.topics {
  margin-top: 1rem;
}

/* line 24, /proj/sites/rails/sites/qwert/app/assets/stylesheets/admin.css.scss */
.panel.topics h1 {
  text-align: center;
}

/* line 28, /proj/sites/rails/sites/qwert/app/assets/stylesheets/admin.css.scss */
ul.ham-topic {
  margin-top: 0;
  background-color: #e0e0e0;
  padding: 0.3125rem;
  border-radius: 1rem;
}

/* line 35, /proj/sites/rails/sites/qwert/app/assets/stylesheets/admin.css.scss */
div.ham-topic-edit {
  background-color: #e0e0e0;
  padding: 0.3125rem;
  border-radius: 1rem;
}

/* line 41, /proj/sites/rails/sites/qwert/app/assets/stylesheets/admin.css.scss */
div.ham-topic-edit form fieldset:nth-of-type(1) {
  width: 60%;
  margin-left: 20%;
  border: 0;
}

/* line 47, /proj/sites/rails/sites/qwert/app/assets/stylesheets/admin.css.scss */
div.ham-topic-edit label {
  margin-top: 0.625rem;
}

/* line 51, /proj/sites/rails/sites/qwert/app/assets/stylesheets/admin.css.scss */
div.ham-topic-edit select {
  width: 100%;
}

/* line 55, /proj/sites/rails/sites/qwert/app/assets/stylesheets/admin.css.scss */
div.ham-topic-edit form fieldset:nth-of-type(2) {
  text-align: center;
  border: 0;
}

/* line 60, /proj/sites/rails/sites/qwert/app/assets/stylesheets/admin.css.scss */
div.ham-topic-edit .button {
  margin-right: 0.625rem;
}

/* line 64, /proj/sites/rails/sites/qwert/app/assets/stylesheets/admin.css.scss */
ul.ham-topic {
  list-style-type: none;
}

/* line 68, /proj/sites/rails/sites/qwert/app/assets/stylesheets/admin.css.scss */
.ham-parent {
  padding-left: 0px;
}

/* line 72, /proj/sites/rails/sites/qwert/app/assets/stylesheets/admin.css.scss */
.ham-child {
  padding-left: 20px;
}

/* line 77, /proj/sites/rails/sites/qwert/app/assets/stylesheets/admin.css.scss */
form#topics label {
  display: block;
}

/* line 81, /proj/sites/rails/sites/qwert/app/assets/stylesheets/admin.css.scss */
form select {
  width: 50%;
}

/* line 86, /proj/sites/rails/sites/qwert/app/assets/stylesheets/admin.css.scss */
.panel.admin-vidlist .button {
  margin-right: 0.3125rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

/* line 94, /proj/sites/rails/sites/qwert/app/assets/stylesheets/admin.css.scss */
.panel.admin-vidlist,
.panel.admin-video {
  margin-top: 1rem;
}

/* line 98, /proj/sites/rails/sites/qwert/app/assets/stylesheets/admin.css.scss */
.panel.admin-video label {
  font-weight: bold;
  display: block;
  margin-top: 0.625rem;
}

/* line 105, /proj/sites/rails/sites/qwert/app/assets/stylesheets/admin.css.scss */
.panel.admin-video textarea,
.panel.admin-video input:not([type="submit"]) {
  width: 100%;
}

/* line 109, /proj/sites/rails/sites/qwert/app/assets/stylesheets/admin.css.scss */
.panel.admin-video select {
  width: 20%;
}

/* line 113, /proj/sites/rails/sites/qwert/app/assets/stylesheets/admin.css.scss */
.panel.admin-video div {
  text-align: center;
  margin-top: 0.625rem;
}

/* line 118, /proj/sites/rails/sites/qwert/app/assets/stylesheets/admin.css.scss */
.panel.admin-video div .button:nth-of-type(1) {
  margin-right: 6.25rem;
  margin-left: 6.25rem;
}
